
.carousel-inner #background
{
	width: 100vw;
	height: 100%;
}
.carousel-caption {
	position: absolute;
	top: 20%;
	letter-spacing: 0.2em;
}
#div-wave-1
{
	position: relative;
	width: 100%;
}

main 
{
	padding:  0 !important;
	margin: 0;
}
#wave-1
{
	position: absolute;

	bottom: -10px;
	left: 0px;
}