
header 
{
	height: 40vh;
}
.carousel-inner #background
{
	width: 100vw;
	height: 100%;
}
.carousel-caption {
	position: absolute;
	top: -15%;
	letter-spacing: 0.2em;
}
#slides
{
	margin: 0 !important;
	padding: 0 !important;
}


@media screen and (max-width: 991px) {
  .carousel-caption{
  	top: 30%;

  }


}