
.hide-on-small
{
	display: inherit;
}

.carousel-inner #background
{
	width: 100vw;
	height: 100%;
}
.carousel-caption {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	position: absolute;
	top: -15%;
	letter-spacing: 0.2em;
}
#slides
{
	margin: 0 !important;
	padding: 0 !important;
}


main 
{
	padding:  0 !important;
	margin: 0;
}

#div-wave-1
{
	position: relative;
	width: 100%;
}

#wave-1
{
	position: absolute;
	bottom: -1px;
	left: 0px;

}

.card-title, .card-text
{
	font-family: 'Karla', sans-serif;
	font-weight: 300;
}

.card-secundario
{
	width: 45%;
} 





@media screen and (max-width: 991px) {
  .carousel-caption{
  	top: 30%;

	align-items: center;

  }

}
@media screen and (min-width: 991px) {
  .card-title
  {
  	font-size: 35px !important;
  }
  .card-text
  {
  	font-size: 20px !important;
  }
 
 
}

@media screen and (max-width: 670px) {
	.card-secundario
	{
		width: 90%;
	} 
 
}
@media screen and (max-width: 360px) {
  .carousel-caption{
  	top: 45%;

  }
  .hide-on-small
  {
  	display: none;
  }
}
#minhaDiv2023{
	display: none;
}

