@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,500&display=swap');

:root
{
  --bs-font-sans-serif: 'Poppins',system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-family: var(--bs-font-sans-serif);
}



.row {
  height: 800px;
  background-image: url('../../images/ingresso/daniel-olah-gEta6dbzFy0-unsplash.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 70vw 0%;
}



.desc{
  opacity: 0.9;
}



@media screen and (max-width: 500px) {
  .row {
  background-position: 60vw 0%;


  }
.text{
    height: 400px;
  }
  .title 
  {
    font-size: 20px;
  }

  .desc{
    font-size: 18px;
  }
}
@media screen and (min-width: 780px) {
  .title
  {
    font-size: 40px;
  }
  .desc{
    font-size: 35px;

  }
}

@media screen and (min-width: 1400px) {
  .row {
  background-position: 100% 0%;
  }

}



