@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,500&display=swap');

:root
{
  --bs-font-sans-serif: 'Poppins',system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-family: var(--bs-font-sans-serif);
}



.row {
  height: 800px;
  background-image: url('../../images/ingresso/daniel-olah-gEta6dbzFy0-unsplash.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 0%;
}



.desc{
  font-size: 35px;
  opacity: 0.9;
}


@media (max-width: 575px) {
  .row {
    background-position: 60vw 0%;
  }
  .title 
  {
    font-size: 20px;
  }
  .desc{
    font-size: 15px;

  }
}


@media (max-width: 767px) and (min-width:  575px){
    .desc{
    font-size: 20px;

  }
  .row {
    background-position: 60vw 0%;
  }
}

@media (max-width: 991px) and (min-width: 767px) {
  .row {
    background-position: 70vw 0%;
  }
    .desc{
    font-size: 25px;

  }
}

@media (max-width: 1199px) and (min-width: 991px){
  .desc{
    font-size: 30px;

  }
}

@media (max-width: 1399px) and (min-width: 1199.98px) {
  .desc{
    font-size: 35px;

  }
}


