@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,500&display=swap');

#loading-screen{
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

body{
  overflow: hidden;
}

#loading-screen img{
  width: 100px;

  animation: rotation 2s infinite ease;
}

header{
  display: none;
}


:root
{
  --bs-font-sans-serif: 'Poppins',system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-family: var(--bs-font-sans-serif);
}

.row-2
{
  
  height: 650px;
  background-image: url('../../images/ingresso/earth_2_5k___001_by_hameed_d2dflxq.png');
  background-position: 0% 0%;

}

.row { 
  background-size: contain;
  background-repeat: no-repeat;
}

.row-1 {
  height: 650px;
  background-image: url('../../images/ingresso/daniel-olah-gEta6dbzFy0-unsplash.png');
  background-position: 100% 0%;
}

.desc{
  font-size: 35px;
  opacity: 0.9;
}

.go{
  position: relative;
  display: flex;
  justify-content: center;
}

.go img{
  width: 800px;
  height: auto;
}

.go a {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  backdrop-filter: blur(2px);
  text-decoration: none;
  background: radial-gradient(50% 50% at 50% 50%, #B529E1 0%, #24DFF7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@media (max-width: 575px) {
  .row-1 {
      height: 700px;
    background-position: 60vw 0%;
  }
  .row-2 {
    background-position: -65vw center;
  }
  .title 
  {
    font-size: 16px;
  }
  .desc{
    font-size: 15px;

  }
  .span{
    height: 30vh;
  }
  .go a {
    font-size: 23px;
  }
}


@media (max-width: 767px) and (min-width:  575px){
  .title{
    font-size: 25px;
  }
  .desc{
    font-size: 20px;

  }
  .row-1 {
    background-position: 60vw 0%;
  }
  .row-2 {
    background-position: -35vw 0%;
  }
  .go a {
    font-size: 35px;
  }
}

@media (max-width: 991px) and (min-width: 767px) {
  .row-1 {
    background-position: 60vw 0%;
  }
  .row-2 {
    background-position: -20vw 0%;
  }
  .desc{
    font-size: 25px;

  }
  .go a {
    font-size: 40px;
  }

}

@media (max-width: 1199px) and (min-width: 991px){
  .row-2 {
    background-position: -5vw 0%;
  }
  .desc{
    font-size: 30px;

  }
    .go a {
    font-size: 45px;
  }
}

@media (min-width: 1199.98px) {
  .title
  {
    font-size: 30px;
  }
  .desc{
    font-size: 28px;

  }
  .go a {
    font-size: 50px;
  }
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}