
#form{
	margin-top: 16vh;
	height: auto;
	background: transparent;

}

iframe{
	position: absolute;
	top: 18%;
	width: 100vw;
	height: 100vh;
	z-index: 99;
}

body {
	background-color: black;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container-1{
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.bubbles {
		display: flex;
	justify-content:space-between;
}
.bubbles span{
	position: relative;
	width: 10px;
	height: 10px;
	background-color: #4fc3dc;
	margin:  0 4px;
	border-radius: 50%;
	box-shadow: 0 0 0 2px #4fc3dc44, 0 0 15px #4fc3dc, 0 0 35px #4fc3dc;
	animation: animate 15s linear infinite;
	animation-duration: calc(1000s / var(--i));

}

.bubbles span:nth-child(even){
	background-color: #fff898;

	box-shadow: 0 0 0 2px #fad048, 0 0 15px #c98b21, 0 0 35px #a46a10;

}


@keyframes animate {
	0%{
		transform: translateY(100vh) scale(0);
		-webkit-transform: translateY(100vh) scale(0);
	}
	100%{
		transform: translateY(-10vh) scale(1);
		-webkit-transform: translateY(-10vh) scale(1);

	}
}